@page "{studentId:int?}/{itemId:int?}"
@model StudentDataApp.Pages.ScholarshipPage.EditModel

@{
    ViewData["Title"] = "Edit";
    ViewData["StudentID"] = Model.StudentID;
}

<h1>Edit</h1>

<h4>Scholarship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Scholarship.ID" />
            <input type="hidden" asp-for="Scholarship.StudentID" />
            <div class="form-group">
                <label asp-for="Scholarship.ScholarshipName" class="control-label"></label>
                <input asp-for="Scholarship.ScholarshipName" class="form-control" />
                <span asp-validation-for="Scholarship.ScholarshipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scholarship.ScholarshipAmount" class="control-label"></label>
                <input asp-for="Scholarship.ScholarshipAmount" class="form-control" />
                <span asp-validation-for="Scholarship.ScholarshipAmount" class="text-danger"></span>
            </div>
            <!-- Scholarship Offered Check -->
            <div class="form-check mb-2">
                <input id="offeredCheck" class="form-check-input" data-toggle="collapse" href="#collapseOffered" type="checkbox" autocomplete="off">
                <label class="form-check-label" for="offeredCheck">
                    Scholarship Offered?
                </label>
            </div>
            <div class="collapse" id="collapseOffered">
                <div class="card card-body form-group">
                    <label asp-for="Scholarship.DateOffered" class="control-label"></label>
                    <input id="offeredInput" asp-for="Scholarship.DateOffered" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="Scholarship.DateOffered" class="text-danger"></span>
                </div>
            </div>
            <!-- Scholarship Accepted Check -->
            <div class="form-check mb-2">
                <input id="acceptedCheck" class="form-check-input" data-toggle="collapse" href="#collapseAccepted" type="checkbox" autocomplete="off">
                <label class="form-check-label" for="acceptedCheck">
                    Scholarship Accepted?
                </label>
            </div>
            <div class="collapse" id="collapseAccepted">
                <div class="card card-body form-group">
                    <label asp-for="Scholarship.DateAccepted" class="control-label"></label>
                    <input id="acceptedInput"asp-for="Scholarship.DateAccepted" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="Scholarship.DateAccepted" class="text-danger"></span>
                </div>
            </div>
            <!-- Scholarship Awarded Check -->
            <div class="form-check mb-2">
                <input id="awardedCheck" class="form-check-input" data-toggle="collapse" href="#collapseAwarded" type="checkbox" autocomplete="off">
                <label class="form-check-label" for="awardedCheck">
                    Scholarship Awarded?
                </label>
            </div>
            <div class="collapse" id="collapseAwarded">
                <div class="card card-body form-group">
                    <label asp-for="Scholarship.DateAwarded" class="control-label"></label>
                    <input id="awardedInput" asp-for="Scholarship.DateAwarded" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Scholarship.DateAwarded" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <script>
        const offeredInput = document.getElementById("offeredInput");
        if (offeredInput.getAttribute("value") != "") {
            const collapseOffered = document.getElementById("collapseOffered");
            collapseOffered.classList.add("show");
            const offeredCheck = document.getElementById("offeredCheck");
            offeredCheck.checked = true;
        }
        const acceptedInput = document.getElementById("acceptedInput");
        if (acceptedInput.getAttribute("value") != "") {
            const collapseAccepted = document.getElementById("collapseAccepted");
            collapseAccepted.classList.add("show");
            const acceptedCheck = document.getElementById("acceptedCheck");
            acceptedCheck.checked = true;
        }
        const awardedInput = document.getElementById("awardedInput");
        if (awardedInput.getAttribute("value") != "") {
            const collapseAwarded = document.getElementById("collapseAwarded");
            collapseAwarded.classList.add("show");
            const awardedCheck = document.getElementById("awardedCheck");
            awardedCheck.checked = true;
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
