@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Query Hub</h1>
<hr />
<div class="d-flex justify-content-sm-start">
    <a class="btn btn-primary mr-2" asp-area="" asp-page="/StudentPage/Index">Student</a>
    <a class="btn btn-primary mr-2" asp-area="" asp-page="/ScholarshipPage/Index">Scholarship</a>
    <a class="btn btn-primary mr-2" asp-area="" asp-page="/InternshipPage/Index">Internship</a>
    <a class="btn btn-primary mr-2" asp-area="" asp-page="/PostGradPage/Index">Post-Graduation</a>
</div>