@page "{studentId:int?}"
@model StudentDataApp.Pages.ContactInfoPage.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["StudentID"] = Model.StudentID;
}

<h1>Create</h1>

<h4>Contact Info</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactInfo.StudentID" value=@Model.StudentID />
            <div class="form-group">
                <label asp-for="ContactInfo.StreetAddress" class="control-label"></label>
                <input asp-for="ContactInfo.StreetAddress" class="form-control" />
                <span asp-validation-for="ContactInfo.StreetAddress" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="ContactInfo.City" class="control-label"></label>
                    <input asp-for="ContactInfo.City" class="form-control" />
                    <span asp-validation-for="ContactInfo.City" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="ContactInfo.State" class="control-label"></label>
                    <select asp-for="ContactInfo.State" asp-items="Model.States" class="form-control"></select>
                    <span asp-validation-for="ContactInfo.State" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="ContactInfo.Zip" class="control-label"></label>
                    <input asp-for="ContactInfo.Zip" class="form-control" />
                    <span asp-validation-for="ContactInfo.Zip" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.PhoneNumber" class="control-label"></label>
                <input asp-for="ContactInfo.PhoneNumber" class="form-control" />
                <span asp-validation-for="ContactInfo.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.EmailAddress" class="control-label"></label>
                <input asp-for="ContactInfo.EmailAddress" class="form-control" />
                <span asp-validation-for="ContactInfo.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
